body {
    margin:0%
}

#box {
    display: grid;
    height: 100vh;
    row-gap: 0px;
    column-gap: 0px;
    grid-template-rows: 10% 50% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'hd hd'
    'mn mn'
    'nav nav'
}


header {
    grid-area:hd;
    background-color:cornsilk;
    display: flex;
    justify-content: flex-start;
    padding-left: 150px;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: 5px;
}

main {
    grid-area: mn;
    background-image: url("../img/animals/katt\ 7.jpg");
    background-size: cover;
    background-position-y: -150px;
    display: flex;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    color: white;
}

nav {
    grid-area:nav;
    background-color: cornsilk;
    display:flex;
}

a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: auto;
    color:black;
    font-weight: bold;
    text-decoration: none;
}

#meny {
    display: grid;
    height: 100vh;
    row-gap: 0px;
    column-gap: 0px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 20% 1fr;
    grid-template-areas:
    'hd_meny hd_meny hd_meny'
    'mn_meny mn_meny mn_meny'
}

.meny_hd {
    grid-area: hd_meny;
    background-color:cornsilk;
    display: flex;
    justify-content: center;
}

.meny_h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: 5px;
}