body {
    margin:0%
}

#box {
    display: grid;
    height: 100vh;
    row-gap: 0px;
    column-gap: 0px;
    grid-template-rows: 10% 50% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'hd hd'
    'mn mn'
    'nav nav'
}


header {
    grid-area:hd;
    background-color:cornsilk;
    display: flex;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.intro_h1 {
    margin: 5px;
    justify-content: flex-start;
    padding-left: 150px;
}

main {
    grid-area: mn;
    display: flex;
    background-color: cornsilk;
}

.intro_mn {
    background-image: url("../img/animals/katt\ 7.jpg");
    background-size: cover;
    background-position-y: -150px;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intro_h2 {
    margin: auto;
    color: white;
}

nav {
    grid-area:nav;
    background-color: cornsilk;
    display:flex;
}

a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: auto;
    color:black;
    font-weight: bold;
    text-decoration: none;
}

#meny {
    display: grid;
    height: 100vh;
    row-gap: 0px;
    column-gap: 0px;
    grid-template-rows: 25% 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'hd hd hd'
    'mn mn mn'
}

.meny_hd {
    grid-area: hd;
    background-image: url("../img/animals/katt\ 12.jpg");
    background-size: cover;
    background-position-y: -200px;
    background-color:cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meny_h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: 0px;
}

.meny_mn {
    grid-area: mn;
    background-color:cornsilk;
    display: flex;
    flex-direction: row;
}

h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.meny_h2_1 {
    justify-self: flex-start;
    padding-left: 75px;
    align-self: flex-start;
}

.meny_h3_1 {
    justify-self: left;
    align-self: center;
}

.meny_h2_2 {
    justify-self: flex-start;
    padding-left: 75px;
    align-self: flex-start;
}

.meny_h3_2 {
    justify-self: left;
    align-self: center;
}

.meny_h2_3 {
    justify-self: flex-start;
    padding-left: 75px;
    align-self: flex-start;
}

.meny_h3_3 {
    justify-self:left;
    align-self: center;
    padding-right: 200px;
}

#djur {
    display: grid;
    height: 100vh;
    row-gap: 0px;
    column-gap: 0px;
    grid-template-rows: 10% 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'hd hd hd'
    'mn mn mn'
    'mn mn mn'
}

.djur_h1 {
    margin: 5px;
    justify-content: flex-start;
    padding-left: 150px;
}